<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.zipper.flowable.app.mapper.ProcessMapper">
    <insert id="insert" parameterType="org.zipper.flowable.app.entity.MyProcess" useGeneratedKeys="true" keyProperty="id">
        insert into flow_process(process_key, name, form_id, xml, deploy_status, allow_initiator, status)
        values (#{processKey}, #{name}, #{formId}, #{xml}, #{deployStatus}, #{allowInitiator}, #{status})
    </insert>
    <update id="updateById" parameterType="org.zipper.flowable.app.entity.MyProcess">
        update flow_process
        set update_time = now()
        <if test="name !=null and name !=''">
            , name = #{name}
        </if>
        <if test="processKey !=null and processKey!=''">
            , process_key = #{processKey}
        </if>
        where id = #{id}
    </update>
    <update id="delete">
        update flow_process
        set update_time = now(),
        status = 1
        where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </update>
    <update id="updateDeployStatus">
        update flow_process
        set update_time   = now(),
            deploy_status = #{processStatus},
            deploy_time   = now()
        where id = #{id}
    </update>
    <select id="selectById" resultType="org.zipper.flowable.app.entity.MyProcess">
        select *
        from flow_process
        where id = #{id}
    </select>
    <select id="selectByParameter" parameterType="org.zipper.flowable.app.dto.parameter.ProcessQueryParameter"
            resultType="org.zipper.flowable.app.entity.MyProcess">
        select *
        from flow_process
        where status = 0
        <if test="name!=null and name !=''">
            and name like CONCAT('%',#{name},'%')
        </if>
        <if test="deployStatus!=null">
            and deploy_status = #{deployStatus}
        </if>
        order by create_time desc
    </select>
    <select id="selectCntByKey" resultType="java.lang.Integer">
        select count(*)
        from flow_process
        where process_key = #{key}
    </select>
    <select id="selectByAllowInitiator" resultType="org.zipper.flowable.app.entity.MyProcess">
        select *
        from flow_process
        where status = 0
        and deploy_status = 1
        and (allow_initiator = 'ANYBODY' or
        <foreach collection="identities" item="item" open="(" close=")" separator="or">
            find_in_set(#{item},allow_initiator)
        </foreach>)
    </select>
</mapper>